<div class="container main-container">
    <img src="assets/img/burger.png" alt="burger">
    <h1>Burger Journal</h1>
    <form class="form" method="POST" action="/data/seeds.sql">
        <input class="form-control" value="" name="name" type="text">
        <button type="submit" class="btn btn-success">New Burger</button>
    </form>
    <div class="container results-div">
        <div class="row">
            <div class="col-sm">
                <h2>Up Next</h2>
                <ul>
                    {{#each burgers}}
                    {{#unless eaten}}
                    {{>burgers/burger-block eaten=false}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-sm">
                <ul>
                    <h2>Already Consumed</h2>
                    {{#each burgers}}
                    {{#if eaten}}
                    {{>burgers/burger-block eaten=true}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>